/* RESET/BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --white: #FFFFFF;
  --light-grey: #edf0f1;
  --violet: #655be1;
  --dark-violet: #5146e1;
  --pink: #ff6bbb;
  --brown: #69473E;
  --background: #ffeeeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Mansalva", sans-serif;
  font-weight: 400;
  font-size: large;
  font-style: normal;
  text-align: center;
  padding: 0 20px;
  background-color: var(--white);
  color: var(--white);
  margin: 0 auto;
}

.header {
  margin: 5rem;
  border-radius: 15px;
}

.logo {
  position: fixed;
  right: 25px;
  bottom: 35px;
  display: flex;
}

.notification-bar a {
  background-color: var(--brown);
  color: var(--pink);
  font-size: 1.5rem;
  margin-left: 1rem;
}

.notification {
  position: relative;
  margin-left: 1rem;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
}



.notification:hover{
  background: var(--pink);
  color: var(--white);
}

/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 400px;
  padding-bottom: 20px;
  border-radius: 5px 5px 25px 25px;
  margin: 300px auto 0;
  background: var(--background);
  box-shadow: rgb(50 50 93 / 10%) 0 30px 60px -12px,
    rgb(0 0 0 / 15%) 0 18px 36px -18px;
}

.nav [type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.nav [type="checkbox"] + label {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  z-index: 1;
  background: var(--brown);
  color: var(--pink);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.nav [type="checkbox"] + label:hover {
  background: var(--pink);
  color: var(--white);
}

.menu li {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
}

.menu li:nth-child(1) {
  transition-delay: 0.2s;
}

.menu li:nth-child(2) {
  transition-delay: 0.15s;
}

.menu li:nth-child(3) {
  transition-delay: 0.1s;
}

.menu li:nth-child(4) {
  transition-delay: 0.05s;
}

.menu li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brown);
  color: var(--pink);
}

.menu li a span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - 5px));
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  color: var(--pink);
  font-weight: bold;
}

.nav input:checked + label {
  background: var(--pink);
  color: var(--white);
  transform: translateY(calc(-50% + 4px));
}

.nav input:checked ~ .menu li:nth-child(1) {
  top: -210px;
  transition-delay: 0.1s;
}

.nav input:checked ~ .menu li:nth-child(2) {
  top: -160px;
  left: calc(50% - 75px);
  transition-delay: 0.2s;
}

.nav input:checked ~ .menu li:nth-child(3) {
  top: -160px;
  left: calc(50% + 75px);
  transition-delay: 0.3s;
}

.nav input:checked ~ .menu li:nth-child(4) {
  top: -110px;
  transition-delay: 0.4s;
}

.nav input:checked ~ .menu li a span {
  opacity: 1;
  transition-delay: 0.9s;
}
/* END OF MAIN STYLES */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 5rem;
}

.card {
  width: 40svw;
  background: linear-gradient(115deg, #ff6bbb 10%, #9f01ea 90%);
  border-radius: 10px;
  margin: 20px;
  padding: 25px 0;
  display: inline-block;
  align-items: center;
  margin-left: 0%;
  margin-bottom: 30svh; 
}

.card img {
  border-radius: 15px;
}

/* MAIN BODY SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Affternoon tea Page */
.with-love {
  color: #ff6bbb; 
  font-size: 1.5rem;
}

.tea-set img {
  border-radius: 15px;
}

.tea-set-price {
  margin-bottom: 5rem;
}

.tea-set-menu {
  width: 100%;
}

/* Breakfast Page */
.breakfast-menu {
  border-radius: 15px;
}

/* Brunch Page */
main {
  margin-bottom: 10rem;
}



/* END OF MAIN BODY SECTION */

/* CONTACT LINKS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

.floating-container {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 1rem;
  right: 2rem;
  margin: 35px 25px;
}

.floating-container:hover {
  height: 300px;
}

.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}

.floating-container .floating-button {
  position: absolute;
  width: 60px;
  height: 60px;
  background: var(--brown);
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: var(--pink);
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: var(--pink);
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.floating-container .float-element i {
  vertical-align: middle;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.floating-container .float-element:nth-child(1) {
  background: var(--brown);
  box-shadow: 0 20px 20px -10px rgba(219, 34, 139, 0.5);
}

.floating-container .float-element:nth-child(2) {
  background: #c76497;
  box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
}

.floating-container .float-element:nth-child(3) {
  background: #FF9800;
  box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 1rem ;
  bottom: 1rem;
  display: flex;
  align-items: center;
  padding: 5px;
  color: var(--pink);
}

/* Responsive layout */
@media screen and (max-width: 789px) {
  .header {
    width: 50%;
    margin: 2rem auto;
  }
  .container {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {

  .container {
   flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 80%;
    margin: 2rem auto;
  }

  img {
    width: 20rem;
    margin: 0 auto;
  }

  .notification-bar {
    width: 100%;
    margin: 0 100px;
  }

  .notification-bar a {
    font-size: 1rem;
    width: 100%;
  }

  .nav {
    width: 100%;
    margin:300px 100px 0;
  }

  .afternoon-tea img {
    width: 15rem;
    margin-left: 120px;
  }

  .afternoon-tea p {
    margin-left: 150px;
  }
}

@media screen and (max-width: 375px) {
  .notification-bar a {
    font-size: 0.8rem;
  }
}